# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CMP1903M Assessment 1 Base Code.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
